<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beauty Blend - Admin Login</title>

    <link rel="stylesheet" href="{% static 'admin.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="container">

    <div class="login-box">

        <img src="{% static 'images/logo.jpg' %}" class="logo">

        <h2>Admin Login</h2>

        <input type="text"
               id="username"
               value="Sujatha"
               readonly>

        <div class="password-box">

            <input type="password"
                   id="password"
                   placeholder="Enter Password">

            <span id="eye" onclick="togglePassword()">
                <i class="fa-solid fa-eye-slash"></i>
            </span>

        </div>

        <button type="button" onclick="adminLogin()">
            Login
        </button>

        <p id="message"></p>

    </div>

    <footer class="footer">
        &copy; 2026 Beauty Blend. All Rights Reserved.
    </footer>

</div>


<!-- Back to Home -->

<a href="{% url 'home_page' %}" class="back-arrow">
    <i class="fas fa-arrow-left"></i>
</a>


<script src="{% static 'admin.js' %}"></script>

</body>
</html>